---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About TEMWC"
	description="Trails End Mutual Water Company"
	pubDate={new Date('August 08 2026')}
	heroImage="/banner_02.jpg"
>
	<p>
		Trails End Mutual Water Company, located in the serene landscape of Mountain Center, CA, is
		dedicated to serving the residents of the Trails End subdivision near Morris Ranch Road. Nestled
		high in the San Jacinto Mountains, our community-focused company works to provide clean,
		reliable mountain groundwater to our members. By prioritizing sustainable stewardship and
		consistent water quality monitoring, we are committed to maintaining the essential resource that
		sustains our beautiful mountain home.
	</p>


</Layout>
