---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Trails End Mutual Water Company</h1>
			<p>
				Welcome to the Trails End Mutual Water Companies web site.
				We are here to serve the community by providing clean fresh
				mountain water to our comunity.
			</p>			
		</main>
		<Footer />
	</body>
</html>
