---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
		<div class="button-links">
			<a href="/contact-us" class="button button-primary">Contact Us</a>
			<a href="/login" class="button button-secondary">Login</a>
		</div>
	</nav>
</header>

<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.internal-links a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	.internal-links a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.button-links {
		display: flex;
		align-items: center;
		gap: 0.75rem;
	}
	.button-links a {
		padding: 0;
		flex: 1;
		min-width: 9rem;
	}
	.button-links .button-primary,
	.button-links .button-secondary {
		background: var(--accent);
		color: white;
		border-color: transparent;
	}
	.button-links .button-secondary {
		border-color: transparent;
	}
	@media (max-width: 720px) {
		nav {
			flex-wrap: wrap;
			gap: 1rem;
		}
		.button-links {
			width: 50%;
			justify-content: flex-start;
		}
		nav a,
		.button-links a {
			flex: 1 1 50%;
		}
	}
</style>
